:root {
    --darkerColor: #2b2626;
    --greyColor: #d1d1d1;
    --darkerGreyColor: #979797;
    --whiteColor: #fff;
    --purpleColor: #677eea;
    --lighterPurpleColor: rgba(103,126,234,0.9);
    --lightPink: #fce5e8;
    --darkPink: #f66f6f;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --transition: 0.3s all ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #eef2f5;
    color: var(--darkerColor);
    font-family: 'M PLUS 1', sans-serif;
}

/* nav */

nav {
    background-color: var(--whiteColor);
    display: flex;
    justify-content: center;
    height: 50px;
}

li {
    list-style-type: none;
    margin-top: 0.6rem;
}

.nav-memberships {
    padding-right: 5rem;
    color: var(--purpleColor);
}

.nav-users {
    color: var(--greyColor);
}

.nav-memberships,
.nav-users {
    font-weight: 700;
}

.nav-memberships,
.nav-users {
    cursor: pointer;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

h1 {
    font-size: 2rem;
    margin-left: 6.5rem;
    font-weight: 400;
}

h4 {
    font-size: 1rem;
    /* font-weight: 800; */
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    margin-top: 2rem;
}

/* main card */

main {
    margin-left: 3.5rem;
    margin-top: 1rem;
}

.card {
    height: 400px;
    width: 1150px;
    background-color: var(--whiteColor);
    margin-left: 3.3rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadow);
}

.card-title {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.card-title__caption {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: var(--darkerGreyColor);
    padding-bottom: 2rem;
}

h5 {
    padding-bottom: 1rem;
}

.email,
.membership {
    color: var(--purpleColor);
}

/* form */

form {
    padding-top: 2rem;
}

label {
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 2rem;
}

input {
    width: 470px;
    height: 30px;
    color: var(--darkerColor);
    box-shadow: var(--shadow);
    border: none;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

::placeholder {
    color: var(--greyColor);
}

.form-header {
    display: flex;
    flex-direction: column;
}

.input-icon {
    position: relative;
  }
  
  .input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 30%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
    left: 165px;
    font-size: 0.7rem;
    font-weight: bold;
  }
  
  .input-icon > input {
    padding-left: 25px;
    padding-right: 0;
  }
  
  .input-icon-right > i {
    right: 0;
  }
  
  .input-icon-right > input {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
  }

  .input-icon > input {
      margin-right: 3rem;
  }

  .center > input {
      margin-left: 2.5rem;
  }

textarea {
    border: none;
    box-shadow: var(--shadow);
    padding: 1rem 0 0 1rem;
}

.form-buttons {
    margin-top: 1.5rem;
}

.form-button__right {
    height: 40px;
    width: 150px;
    background-color: var(--purpleColor);
    border: none;
    border-radius: 5px;
    color: var(--whiteColor);
    margin-top: 0.5rem;
    box-shadow: var(--shadow);
    margin-right: 5rem;
    cursor: pointer;
    text-transform: capitalize;
}

.form-button__right:hover {
    transition: var(--transition);
    background-color: var(--lighterPurpleColor);
}

.form-button__left {
    border: none;
    padding-right: 1rem;
    cursor: pointer;
    background-color: var(--whiteColor);
    font-weight: 600;
}

/* footer */

footer > p {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}