:root {
    --darkerColor: #2b2626;
    --greyColor: #d1d1d1;
    --whiteColor: #fff;
    --purpleColor: #677eea;
    --lighterPurpleColor: rgba(103,126,234,0.9);
    --lightPink: #fce5e8;
    --darkPink: #f66f6f;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eef2f5;
    color: var(--darkerColor);
    font-family: 'M PLUS 1', sans-serif;
}

/* nav */

nav {
    background-color: var(--whiteColor);
    display: flex;
    justify-content: center;
    height: 50px;
}

li {
    list-style-type: none;
    margin-top: 0.6rem;
}

.nav-memberships {
    color: var(--purpleColor);
    padding-right: 5rem;
}

.nav-users {
    color: var(--greyColor);
}

.nav-memberships,
.nav-users {
    font-weight: 700;
}

.nav-memberships,
.nav-users {
    cursor: pointer;
}

/* header */

header {
    display: flex;
    justify-content: space-around;
    margin-top :2rem;
}

h1 {
    font-size: 2rem;
}

h4 {
    font-size: 0.7rem;
}

h1,
h4 {
    margin-left: 1.5rem;
}

.header-right > button {
    height: 40px;
    width: 180px;
    background-color: var(--purpleColor);
    border: none;
    border-radius: 5px;
    color: var(--whiteColor);
    margin-top: 1rem;
    box-shadow: var(--shadow);
    margin-left: 5rem;
    cursor: pointer;
}

.header-right > button:hover {
    background-color: var(--lighterPurpleColor);
    transition: var(--transition);
}

button > i {
    margin-right: 1rem;

}

/* main card */

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3.5rem;
    margin-top: 2rem;
}

.card {
    height: 200px;
    width: 350px;
    background-color: var(--whiteColor);
    margin-left: 3.3rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadow);
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.card-title__caption {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.card-button {
    background-color: var(--lightPink);
    width: auto;
    margin-left: 18rem;
    margin-top :1.5rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-button > i {
    color: var(--darkPink);
    padding: 0.7rem 0 0.7rem 0.8rem;
    font-size: 0.75rem;
}

hr {
    background-color: rgba(211, 211, 211, 0.3);
    height: 0.1px;
    border: 0;
}

h5 {
    padding-top: 0.5rem;
}

/* footer */

footer > p {
    margin-top: 26rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}