:root {
    --darkerColor: #2b2626;
    --greyColor: #d1d1d1;
    --darkerGreyColor: #979797;
    --whiteColor: #fff;
    --purpleColor: #677eea;
    --lighterPurpleColor: rgba(103,126,234,0.9);
    --lightPink: #fce5e8;
    --darkPink: #f66f6f;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #eef2f5;
    color: var(--darkerColor);
    font-family: 'M PLUS 1', sans-serif;
}

/* nav */

nav {
    background-color: var(--whiteColor);
    display: flex;
    justify-content: center;
    height: 50px;
}

li {
    list-style-type: none;
    margin-top: 0.6rem;
}

.nav-memberships {
    padding-right: 5rem;
    color: var(--greyColor);
}

.nav-users {
    color: var(--purpleColor);
}

.nav-memberships,
.nav-users {
    font-weight: 700;
}

.nav-memberships,
.nav-users {
    cursor: pointer;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

h1 {
    font-size: 2rem;
    margin-left: 6.5rem;
}

.header-right > button {
    height: 40px;
    width: 130px;
    background-color: var(--purpleColor);
    border: none;
    border-radius: 5px;
    color: var(--whiteColor);
    margin-top: 0.5rem;
    box-shadow: var(--shadow);
    margin-right: 5rem;
    cursor: pointer;
    text-transform: capitalize;
}

.header-right > button:hover {
    background-color: var(--lighterPurpleColor);
    transition: var(--transition);
}

button > i {
    margin-right: 1rem;
}

h4 {
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    margin-top: 2rem;
}

.pipe-bar {
    color: rgba(211, 211, 211, 0.5);
    margin-left: 1rem;
}

.sort-click {
    margin-left: 1rem;
    color: var(--purpleColor);
}

.fas.fa-sort-down {
    margin-left: -0.62rem;
}

.fas.fa-sort-up,
.fas.fa-sort-down {
    cursor: pointer;
}

/* main card */

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3.5rem;
    margin-top: 1.5rem;
}

.card {
    height: 200px;
    width: 350px;
    background-color: var(--whiteColor);
    margin-left: 3.3rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadow);
}

.card-title {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.card-title__caption {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: var(--darkerGreyColor);
    padding-bottom: 2rem;
}

h5 {
    padding-bottom: 1rem;
}

.email,
.membership {
    color: var(--purpleColor);
}

.membership {
    text-transform: capitalize;
}
/* footer */

footer > p {
    margin-top: 15rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}